@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  min-height: 100vh;
  background-color: hsl(210, 46%, 95%);
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: "Manrope", sans-serif;
}
.component {
  max-width: 700px;
  background-color: white;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  gap: 10px;
  border-radius: 10px;
  position: relative;
  z-index: 1;
  box-shadow: 0 10px 15px -10px gray;
}
.component__img-container {
  background-image: url(../images/drawers.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: left;
  grid-column: 1/3;
  border-radius: 10px 0 0 10px;
}
.component__general-information-container {
  grid-column: 3/6;
}
.main-info {
  padding: 30px 30px 5px 30px;
}
.component__general-information-container--main-header {
  font-size: 20px;
  margin-bottom: 15px;
}
.component__general-information-container--description {
  font-size: 13px;
  color: hsl(214, 17%, 51%);
}
.component__general-information-container--user {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
footer {
  padding: 20px 30px;
  background-color: transparent;
}
.footer.backgroundChanger {
  background-color: transparent;
}
.component__general-information-container--user-information {
  display: flex;
  align-items: center;
}
.component__general-information-container--user-information img {
  display: block;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  margin-right: 15px;
}
.component__general-information-container--user-information p {
  font-size: 13px;
  font-weight: 700;
  color: hsl(217, 19%, 35%);
}
.component__general-information-container--user-information p span {
  font-size: 10px;
  font-weight: 500;
  color: hsl(212, 23%, 69%);
}
.component__general-information-container--user-button button {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 25px;
  height: 25px;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}
.component__general-information-container--user-soc-media-container {
  display: none;
}
.component__general-information-container--user-soc-media-container.seeMore {
  display: flex;
  align-items: center;
  background-color: hsl(217, 19%, 35%);
  position: absolute;
  z-index: 3;
  right: -55px;
  bottom: 85px;
  padding: 10px 15px;
  border-radius: 10px;
}
.component__general-information-container--user-soc-media-container.seeMore::after {
  content: "";
  position: absolute;
  bottom: -10px;
  left: 50%;
  transform: translateX(-50%) rotate(45deg);
  width: 20px;
  height: 20px;
  background-color: hsl(217, 19%, 35%);
  z-index: 0;
}
.component__general-information-container--user-information.hide {
  display: flex;
}

.component__general-information-container--user-soc-media-container a {
  text-transform: uppercase;
  letter-spacing: 2px;
  font-size: 12px;
  text-decoration: none;
  margin-right: 10px;
  color: hsl(210, 46%, 95%);
  margin-right: 15px;
}

@media (max-width: 700px) {
  .component {
    max-width: 350px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr;
    gap: 0px;
    border-radius: 10px;
    overflow: hidden;
    margin: 20px;
  }
  .component__img-container {
    grid-column: 1/2;
    grid-row: 1/3;
    border-radius: 0;
  }
  .component__general-information-container {
    grid-column: 1/2;
    grid-row: 3/6;
  }
  .main-info {
    padding: 30px 30px 5px 30px;
  }
  .component__general-information-container--main-header {
    font-size: 16px;
    margin-bottom: 15px;
  }
  .component__general-information-container--description {
    font-size: 12px;
    margin-bottom: 15px;
  }
  .component__general-information-container--user {
    display: flex;
  }

  footer {
    padding: 15px 30px;
  }
  .footer.backgroundChanger {
    background-color: hsl(217, 19%, 35%);
  }
  .component__general-information-container--user-information {
    display: flex;
    align-items: center;
  }
  .component__general-information-container--user-information.hide {
    display: none;
  }
  .component__general-information-container--user-information img {
    display: block;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 15px;
  }
  .component__general-information-container--user-information p {
    font-size: 13px;
  }
  .component__general-information-container--user-button button {
    border: none;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 25px;
    height: 25px;
    padding: 5px;
    border-radius: 50%;
    cursor: pointer;
  }
  .component__general-information-container--user-soc-media-container {
    display: none;
    align-items: center;
  }
  .component__general-information-container--user-soc-media-container.seeMore {
    display: flex;
    align-items: center;
    background-color: hsl(217, 19%, 35%);
    position: static;
    padding: 10px 15px;
  }
  .component__general-information-container--user-soc-media-container.seeMore::after {
    display: none;
  }
  .component__general-information-container--user-soc-media-container a {
    margin-right: 10px;
    color: white;
  }
}
